/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/vendor/
/bin/
/app/config/parameters.yml

/web/css/compiled/*
/web/js/compiled/*
/src/j0k3r/FeedBundle/Resources/foundation/*
/web/index_dev.php
