/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/app/sessions/*
/app/build/
/vendor/
/bin/
/app/config/parameters.yml
/.sass-cache
/app/cache.properties
/node_modules/
/app/Resources/lib
/web/build
