version: '2'
services:
  db:
    image: mvertes/alpine-mongo:3.2.10-3
    ports:
      - "27017:27017"

  nginx-php7.2:
    build:
      context: ./docker
      dockerfile: ./Dockerfile-php7.2
    ports:
      - "8100:8100"
    links:
      - db
    volumes:
      - ./:/usr/share/nginx/html
    command: ["bash", "/usr/share/nginx/html/docker/launch-f43me.sh"]
