parameters:
    level: max
    paths:
        - src
        - tests

    symfony:
        container_xml_path: %rootDir%/../../../var/cache/test/App_KernelTestDebugContainer.xml
        console_application_loader: tests/console-application.php

    # https://github.com/phpstan/phpstan/issues/694#issuecomment-350724288
    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit-8.5-0/vendor/autoload.php

    ignoreErrors:
        - '#Constructor of class App\\DomDocument\\XDOMElement has an unused parameter \$value.#'
        # Related to `getReference` in data fixtures
        - '#Parameter \#1 \$feed of class App\\Entity#'
        # Related to `TestController` with `kernel.project_dir`
        - '#data\/site_config#'

    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
