parameters:
    level: max
    paths:
        - src
        - tests

    symfony:
        container_xml_path: %rootDir%/../../../var/cache/test/srcApp_KernelTestDebugContainer.xml
        console_application_loader: tests/console-application.php

    # https://github.com/phpstan/phpstan/issues/694#issuecomment-350724288
    autoload_files:
        - vendor/bin/.phpunit/phpunit-8.3-0/vendor/autoload.php

    ignoreErrors:
        - '#Constructor of class App\\DomDocument\\XDOMElement has an unused parameter \$value.#'
        # Related to `getReference` in data fixtures
        - '#Parameter \#1 \$feed of class App\\Entity#'
        # because the argument is a mock
        - '#Parameter \#7 \$amqplibFactory#'

    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
