parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: f43me
    database_user: root
    database_password: ~

    locale: en
    secret: uLq3XcJHHbLhq6GX

    domain: f43.me

    # You can deploy your own on AWS using https://github.com/postlight/mercury-parser-api
    mercury_url: https://mercury.f43.me

    # sha1 encoded, in this case "adminpass"
    adminpass: 74913f5cd5f61ec0bcfdb775414c2fb3d161b620

    google_analytics_code: UA-xxxxx-x

    # https://api.imgur.com/oauth2/addclient
    imgur.client_id: xxxxx
    imgur.client_secret: xxxxx

    # https://www.tumblr.com/oauth/apps
    tumblr.api_key: xxxx

    # https://www.twitch.tv/kraken/oauth2/clients/new
    twitch.client_id: xxxx

    parser.regexps:
        # class or id
        unlikelyCandidates: /noprint|hidden|avatar|ligatus|col_right|news-colonne-droite|combx|comment|community|disqus|extra|foot|header|menu|remark|rss|shoutbox|sidebar|sponsor|ad-break|agegate|pagination|pager|popup|addthis|response|slate_associated_bn|reseaux|sharing|auteur|tag|feedback|meta|kudo|sidebar|copyright|bio|moreInfo|legal|share|contributor/i
        okMaybeItsACandidate: /and|article|body|column|main|shadow/i
        positive: /article|body|content|entry|hentry|main|page|attachment|pagination|post|text|blog|story/i
        negative: /combx|comment|com-|contact|foot|footer|_nav|footnote|masthead|media|meta|outbrain|promo|related|scroll|shoutbox|sidebar|sponsor|shopping|tags|tool|widget|header|aside/i
        divToPElements: /<(a|blockquote|dl|div|img|ol|p|pre|table|ul)/i
        replaceBrs: '/(<br[^>]*>[ \n\r\t]*){2,}/i'
        replaceFonts: '/<(\/?)font[^>]*>/i'
        normalize: '/\s{2,}/'
        killBreaks: '/(<br\s*\/?>(\s|&nbsp;?)*){1,}/'
        video: '!//(player\.|www\.)?(youtube|vimeo|viddler|dailymotion)\.com!i'
        skipFootnoteLink: '/^\s*(\[?[a-z0-9]{1,2}\]?|^|edit|citation needed)\s*$/i'
        attrToRemove: 'onclick|rel|class|target|fs:definition|alt|id|onload|name|onchange'
        tagToRemove: select|form|header|footer|aside
        media: '!//(?:[^\.\?/]+\.)?(?:youtu(?:be)?|soundcloud|dailymotion|vimeo|pornhub|xvideos|twitvid|rutube|viddler)\.(?:com|be|org|net)/!i'

    # https://apps.twitter.com/
    twitter.consumer_key: xxx
    twitter.consumer_secret: xxx
    twitter.access_token: xxx
    twitter.access_token_secret: xxx

    # github information
    github.client_id: xxx
    github.client_secret: xxx

    sentry_dsn: "https://xxx:xxx@sentry.io/666"
