parameters:
    database_server:   mongodb://localhost:27017
    database_name:     f43me

    locale:            en
    secret:            uLq3XcJHHbLhq6GX

    domain:            f43.me

    # Get one here: https://www.readability.com/account/api
    readability_token: xxxxxxx

    # sha1 encoded, in this case "adminpass"
    adminpass:         74913f5cd5f61ec0bcfdb775414c2fb3d161b620

    newrelic_api_key: xxxxxxxxxxx
    google_analytics_code: UA-xxxxx-x

    imgur.client_id: xxxxx
    imgur.client_secret: xxxxx

    tumblr.api_key: xxxx
