{% extends "layout.html.twig" %}
{% form_theme form 'default/Form/_form.html.twig' %}

{% block h2_title %}Feed creation{% endblock %}

{% block content %}
<div class="row">
    <div class="large-8 columns">
        {{ form_start(form, {'attr': {'class': 'custom' }}) }}
            {{ form_widget(form) }}
            <div class="row">
                <div class="small-9 small-offset-3 columns">
                    <button type="submit" class="small button radius success">Create</button>
                </div>
            </div>
        </form>
    </div>
    <div class="large-12 columns">
        <hr/>
        <ul class="inline-list">
            <li><a class="secondary button radius small" href="{{ path('feed_homepage') }}">&lArr; Back to the list</a></li>
        </ul>
    </div>
</div>
{% endblock %}
