<a class="close-reveal-modal">&#215;</a>

<ul class="no-bullet">
    <li><strong>Link</strong>: <a href="{{ url }}" target="_blank">{{ url }}</a></li>
    <li><strong>Title</strong>: {{ title }}</li>
</ul>

<hr/>
{{ content|raw }}
