<a class="close-reveal-modal">&#215;</a>

<div class="section-container tabs" data-section="tabs">
  <section>
    <p class="title" data-section-title><a href="#">Internal parser</a></p>
    <div id="modal-content-internal" class="content" data-section-content data-fetch-url="{{ path('feeditem_preview_new', { 'slug': feed.slug }) }}">
      <p>Loading...</p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#">External parser</a></p>
    <div id="modal-content-external" class="content" data-section-content>
      <p>Loading...</p>
    </div>
  </section>
</div>
