{% extends "j0k3rFeedBundle::layout.html.twig" %}
{% form_theme form 'j0k3rFeedBundle:Form:_form.html.twig' %}

{% block h2_title %}Feed creation{% endblock %}

{% block content %}
<div class="row">
    <div class="large-8 columns">
        <form action="{{ path('j0k3r_feed_create') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <div class="row">
                <div class="small-9 small-offset-3 columns">
                    <button type="submit" class="small button radius">Create</button>
                </div>
            </div>
        </form>
    </div>
    <div class="large-12 columns">
        <hr/>
        <ul class="inline-list">
            <li><a class="secondary button radius small" href="{{ path('j0k3r_feed_homepage') }}">Back to the list</a></li>
        </ul>
    </div>
</div>
{% endblock %}
