h2.title span {
  padding-left: 55px;
  background: transparent url("/icon.png") top left no-repeat;
}

.top-bar-section ul li.active > a {
  background: #555;
}

table {
  width: 100%;
}

img.favicon {
  width: 16px;
  height: 16px;
}

table.table-items td div {
  width: 560px;
}

table.table-feeds td div {
  width: 300px;
}

table.table-dashboard-feedlogs td div {
  width: 150px;
}

table.table-dashboard-feeds td div {
  width: 160px;
}

table.table-feeds td div, table.table-items td div, table.table-dashboard-feedlogs td div, table.table-dashboard-feeds td div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.reveal-modal {
  top: 6.25em;
}

.morris-hover{position:absolute;z-index:1000;}
.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255, 255, 255, 0.8);border:solid 2px rgba(230, 230, 230, 0.8);font-family:sans-serif;font-size:12px;text-align:center;}
.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0;}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0;}

div.feed-info {
  border: 1px solid #eeeeee;
  padding: 10px 20px 20px;
  font-size: 14px;
  line-height: 1.1;
}

div.feed-info ul {
  list-style: none;
  margin-left: 0;
}

div.feed-info ul li {
  margin-bottom: 10px;
}

div.feed-info .info {
  display: block;
}

div.feed-info span {
  color: #555;
}
